* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	background-color: #61122f;

}
a {
	text-decoration: none;
	color: inherit;
}
ul li {
	list-style: none;
}
.header {
	background-color: #f6b319;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */

.header-wrapper {
	display: flex;
}
.logo {
	margin-right: 25px;
}
.header-title {
	padding-top: 20px;
	margin-right: 50px;
}
.header-title h1 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #557c3e;
}
.header-title img {
	display: inline-block;
	vertical-align: middle;
}
.header-title span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	text-transform: uppercase;
	color: #000;
}
.header-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	min-width: 300px;
	color: #61122f;
	font-size: 18px;
}
.contacts {
	margin-left: auto;
	padding-top: 20px;
}
.contacts a {
	display: block;
	font-size: 32px;
	font-weight: bold;
	color: #61122f;
}
.contacts span {
	font-weight: bold;
	color: #557c3e;

}